* {
  margin: 0;
  padding: 0;
}
.nav {
  width: 100vw;
  height: 0px;
  padding-left: 20px;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.logoDiv {
  width: 50px;
  height: 50px;
  margin-left: 30px;
}
.logo {
  width: 100%;
  height: 100%;
  margin-top: 35px;
  margin-left: 5px;
}
.nike {
  width: 95%;
  height: 95vh;

  margin-right: 20px;
}
.picture {
  width: 100%;
  height: 95%;
  margin: 40px;
}
h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 3px;
  margin-left: 50px;
  font-size: xx-large;
}
.storeButton {
  display: flex;
  justify-content: center;
  margin-top: 120px;
}
.store {
  width: 130px;
  height: 33px;
  border: 1px solid black;
  font-size: large;
  border-radius: 50px;
  background-color: black;
  color: white;
}
.Air {
  width: 95vw;
  height: 100vh;

  margin: 50px;
}
.AirPic {
  display: flex;
  justify-content: center;
  width: 95%;
  height: 98%;
  margin: 20px;
}
.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 90px;

  margin-left: 50px;
  width: 95vw;
  height: 100vh;
}
.firstimg {
  width: 90%;
}
.secondimg {
  width: 90%;
}
.image {
  width: 100%;
  height: 100%;
}
button {
  width: 140px;
  height: 35px;
  border-radius: 30px;
  color: white;
  background-color: black;
  border: 2px solid black;
  cursor: pointer;
}
footer {
  margin-top: 80px;
  margin-left: 60px;
  height: 400px;
}
.line {
  margin-top: 300px;
}
.footer {
  display: flex;
  gap: 250px;
}
.Resources {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.Help {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.Company {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.Rights {
  height: 200px;
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-end;
}
